/***** Основной стиль*****/

html, body {
    background: #fff;
    width: 100%;
    position: relative;
    font: normal 15px/22px 'PT Sans',sans-serif;
    color: #5b5b5b;
}

h1 a img {
	margin:30px 0 20px;
	position:relative;
}

h3,h4,h5,h6 {
	display:block;
	font:400 20px/40px 'PT Sans',sans-serif;
	position:relative;

}
h2 {
	display:block;
	position: relative;
	font-size:40px !important; 
	text-align: center;
	margin: 0 !important;
	padding-bottom: 50px;
	text-align: center;
	line-height: 1,5;
	text-transform:uppercase;
}

h3 {
	text-transform:none;
	font-style:italic;
	font-size:22px;
	line-height:27px;
	text-align: center;
	line-height: 1,5;
	color:#7c9496;
}

h4{
	font-style: italic;
	text-align: center;
	margin-top: 0px !important;
	margin-bottom: 50px !important;
	line-height:22px !important;
}

h5{
	font-size:15px !important;
	text-align:left;
	font-weight: bold !important;
}

p {
	font-size:15px;
	line-height:22px;
	text-align: justify;
}

.p44 {
	padding:30px 0 80px;
}
.wrap {
	margin-bottom:44px;
}
.box {
    position: relative;
    margin: 10px 0 10px;
    text-align: center;
}


a{
	color: #585858 !important;
	text-decoration: none !important;
}

a:hover {
    color: #39b54a !important;
	text-decoration: none !important;
}




/***** dividers *****/

.divider {
	position:relative;
	overflow:hidden;
	margin:65px 0 60px;
	border-top:1px solid #e5eaea;
}

.divider1 {
	position:relative;
	overflow:hidden;
	margin:5px 0 0px;
	border-top:1px solid #e5eaea;
}
.divider1a{
	position:relative;
	margin:-1.5px 0 5px;
	background-color: #39b54a;
	width: 20%;
	height: 3px;
}
.divider2 {
	position:relative;
	overflow:hidden;
	margin:0;
	border-top:1px solid #e5eaea;
}

/***** Шапка *****/
#header {
    position: relative;
	display: flex;
	flex-direction:column;
    text-align: center;
}

.top{
	position: relative;
	display: flex;
	flex-direction:row;
	align-items:center; 
	background: #fff;
    border-bottom: #e5eaea 1px solid;
    height: 70px;
	width:100%;
}

.m-wrapper{
	position:relative;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;  
}
 .phone i,.mail i {
    border-radius: 100%;
    display: block;
    float: left;
    border: 1px #e5eaea solid;
    width: 39px;
    height: 39px;
 	color: #585858;
    padding: 11px 11px;
}
.phone span, .mail span {
	float: left;
    font-size: 14px;
    padding: 11px 10px;
}

.cabinet {
    float: right;
    border-radius: 50px;
    border: 1px solid #21a649;
    margin: 9px 10px;
    padding: 10px 20px;
    transition: border 0.15s ease-in;
}

.head_brdr{
	margin:-1px 0 0;
	border-bottom:1px solid #e5eaea;
}

.banner{
	background:url(../img/slider/ban1b.jpg)
	center center no-repeat;
	position:relative;
	z-index:1;
	width:100%;
	height:600px;
	text-align:center;
}

.title{
	position:relative;
	overflow:hidden;
	display:inline-block;
	color:#fff;
	font:normal 90px 'Tinos',serif;
	line-height:90px;
	text-transform:uppercase;
	padding-top:162px;

}
.title_small{
	position:relative;
	overflow:hidden;
	display:inline-block;
	color:#fff;
	font:normal 30px 'PT Sans',serif;
	line-height:35px;
	padding-top:20px;
	padding-bottom: 50px;

}

.center{
	position:relative;
	text-align:center;
}	

/***** Меню *****/
#bottom-nav{
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 300;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.19);
}
.m-wrapper1{
	position:relative;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;  

}

nav{
	margin:0;
	position:relative;
	text-align: center;
	padding:0;
}
.sf-menu li {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
.sf-menu>li+li{
	margin-left:30px;
	margin-top: 5px;
}

.sf-menu>li>a {
    display: inline;
    text-align: center;
    position: relative;
    color: #585858;
    font: 400 14px/30px 'PT Sans',sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.6px;
}
.sf-menu>li>a:hover,.sf-menu>li.current>a{
	position:relative;
	text-decoration:none;
	color:#39b54a;
	padding-bottom: 5px;
	border-bottom: 2px solid #39b54a;
}
/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
.sf-menu ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
.sf-menu ul li{
	float:none;
	text-transform: none;
	background:#fff; /* задает фон пунктов подменю*/
	border-top: 1px solid #eaeaea;
	top:10px;/* отступ, подменю начинается от края линии*/
	left: -25px; /*выравнивает по центру относительно главного пункта меню*/
	width: 100px; /* задает ширину пунктов подменю*/
}
.sf-menu ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
	text-transform: none;
    padding: 8px 15px;
    font-weight: 100;
}
.sf-menu  li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}

.sf-menu li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
.sf-menu li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    text-decoration:underline;
    background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
}

/***** О нас *****/

.fa {
	color: #39b54a;
	margin-right:8px;
}
.fa-check:before {
    content: "\f14a";
}

/***** Новости *****/

time{
	font: 18px/28px 'PT Sans',sans-serif;
	font-weight: bold;
	display:inline-block;
}

.brdr{
	position:relative;
	overflow:hidden;
	border-left:1px solid #e5eaea;
	padding:0 0 0 50px;
	margin: 10px 0 10px;
	margin-left:20px;
}
.block{
	position:relative;
	overflow:hidden;
	margin:-23px 0 3px;
}
.block li{
	padding:20px 0 26px;
}
.block li+li{
	border-top:1px dotted #ccc;
}
.block li p{
	font-size:15px;
	margin-top:4px;
}

/***** Услуги *****/
.services_col {
	position: relative;
    background-color: #fff;
    text-align: center;
    height: 390px;
}
.services_col:hover {
	position: relative;
    background-color: #f5f5f5;
    text-align: center;
    height: 390px;
}
.services_link{
}
.linkbox{
	margin-bottom: 30px;
}
.services_img {
    width: 100%;
}
.check_img {
text-align: center;
}
.services_text{
	font-size: 15px!important;
    font-weight: bold !important;
    font-style: normal !important;
    color: #333; 
    letter-spacing: 1px;
    text-align: center;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	text-transform:uppercase;
}
.text_sm{
	font-size: 15px!important;
    font-style: normal !important;
    color: #333; 
    text-align: center;
    margin-top: 20px !important;
	margin-bottom: 25px !important;
}

/***** Продукция *****/

#features {
    position: relative;
    background: #f5f5f5;
}
.custom-list{
	line-height: 22px;
}

/***** content sections *****/

.blockquote{
	position:relative;
	overflow:hidden;
	padding:70px 0 39px;
	margin-bottom:7px;
	font:normal 22px/22px 'Tinos';
	color:#000;
}

/***** slider *****/
.slider-center{
	position: relative;
	width: 1140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
 	align-items: center;
 	padding-bottom: 100px;
}
ol.carousel-indicators{
	padding-bottom: 40px;
}
.slider-logo-book{
	padding-bottom: 20px;
}
.slider-logo-Poly{
	padding-bottom: 0px;
}
.slider-text h4 {
	color: white;
	text-align: center;
	line-height: 1.5;
	padding-bottom: 30px;
}

/******* Slider button********/
.btn {
	letter-spacing: 1px;
	text-decoration: none;
	background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
	font-size:14px;
	line-height:20px;
	font-weight:700;
	text-transform:uppercase;
	border: 3px solid;
	padding:8px 20px;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: white;
	border-color: white;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active
.btn-outlined.btn-theme:visited
 {
    color: #FFF;
    background: #39b54a;
    border-color: #005e20;
}
.btn-sm{
	font-size:12px;
	line-height:16px;
	border: 2px solid;
	padding:8px 15px;
}

/********************************************************************
/***** Slider bottom *****/
.bottom-fold {
	position: absolute;
	width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    bottom: -1px;
    left: 0;
    right: 0;
}
.bottom-fold :first-child{
	border-radius: 0 50px 0 0;
}
.bottom-fold :nth-child(2) {
    border-radius: 50px 0 0 0;
}
.bottom-fold div{
	background-color: white;
	flex-basis: 50%;
	max-width: 50%;
}
*, :after, :before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


.services-img{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
 	align-items: center;
}
.col-xs-12 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
 	align-items: center;
	
}
