
header,nav,main,footer{
	display:block
}

.header {
    background-attachment: fixed;
}
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: no-repeat 50%;
    background-size: cover;
    min-height: 600px;
    height: calc(100vh - 10px);
    text-align: center;
    color: #bc1339;
    padding-bottom: 60px;
    overflow: hidden;
}
h1{
	font-size:2em;
	margin:.67em 0}

body {
	background-color: #abb88e;
}