html {
	width:100%;
}

body {
	background-color: #abb88e; 
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
	min-width:1140px;
	background:#cfc
}

.header {
	width:100%;
    background:url(img/Shape-1.jpg) ;
	position:relative;
    padding-bottom: 60px;
    overflow: hidden;
}

/***** top black lin *****/
.top { 
	position: relative;
	display: flex;
	justify-content: center;
   	background-color: black;
 	height:30px;
 	color: white;
	font-size: 0.7em;
}
.top-center{
	position: relative;
	width: 1140px;
	display: flex;
	justify-content: space-between;
 	align-items: center;
}

.local-top{
	display: flex;
	align-items: center;
}
.phon-top{
	display: flex;
	align-items: center;
}
.mail-top{
	display: flex;
	align-items: center;
}
.top-img{
	margin-right: 10px;
}
.social-top{
	background-color: #39b54a;
	height:40px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar{
	background-color: white;
	width: 100%;
	height: 100px;
	position: relative;
    display: flex;
 	justify-content: space-around;
 	align-items: center;
}

.nav-bar-center{
	position: relative;
	width: 1140px;
	display: flex;
	justify-content: space-between;
 	align-items: center;
}
.nav{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gear{
	position: relative;

}


/***** menu *****/
.menu {
	float:right;
}

.menu li {
	float:left;
	position:relative;
	padding-left:35px;
}
.menu li a {
	display:inline-block;
	font-size:20px;
	line-height:1.2em;
	color:#4d4d4d;
}
.menu li a.active, .menu > li > a:hover {
	color:#39b54a;
}


.button_sl {
	color:white;
	text-decoration:none;
}
.button_sl:hover {
	text-decoration:none;
}
a {
	color:#39b54a;
	outline:none;
}
a:hover {
	text-decoration:none;
}

.menu li a {
	text-decoration:none;
}



/***** Slider *****/
.slider{
	width:100%;
	height: 600px;
	position:relative;
	overflow:hidden;
	background-image: url(img/Shape-1.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slider-center{
	position: relative;
	width: 1140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
 	align-items: center;
}
.slider-logo-book{
	padding-bottom: 50px;
}
.slider-text{
	color: white;
	text-align: center;
	font-size: large;
	padding-bottom: 30px;
}

.slider-button{
	color: white;
	text-align:  center;
	font-size: large;
	padding: 10px;
	border: 1px solid white;
}
.bottom-fold {
	position: absolute;
	width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    bottom: -1px;
    left: 0;
    right: 0;
}
.bottom-fold :first-child{
	border-radius: 0 50px 0 0;
}
.bottom-fold :nth-child(2) {
    border-radius: 50px 0 0 0;
}
.bottom-fold div{
	background-color: white;
	flex-basis: 50%;
	max-width: 50%;
}
*, :after, :before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
div {
    display: block;
}

h2, h4, p {
	text-align: center;
}

